.form-container{
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 780px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 35px;
    right: 330px;
    left: 300px;
    display: none;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    z-index: 100;
}

.form-first-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form-heading-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add-task-icon{
    height: 24px;
    margin-right: 8px;
}

.form-heading{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-subgroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.last-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-box{
    display: flex;
    flex-direction: column;
}

.task-title label,
.task-description label,
.task-deadline label,
.dropdown-box label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.task-title input,
.task-description input,
.task-deadline input,
.dropdown-box select,
.description-input{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gainsboro;
}

.task-title input,
.task-deadline input,
.dropdown-box select{
    padding: 10px;
}

.description-input{
    padding: 10px;
    height: 180px;
    width: 380px;
}

.dropdown-box select,
.dropdown-box label{
    width: 172px;
}

.cross-icon{
    display: flex;
    align-items: center;
    justify-self: end;
    height: 20px;
    cursor: pointer;
}

.cross-icon:hover{
    filter: invert(68%) sepia(5%) saturate(3886%) hue-rotate(185deg) brightness(96%) contrast(99%);
}

.star{
    color: red;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 50px;
}

.submit-button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(103, 103, 182);
    color: white;
    cursor: pointer;
    transition: opacity 0.15s;
}

.submit-button:hover{
    opacity: 0.8;
}




