body{
    font-family: Roboto, Arial;
    font-style: normal;
    margin: 0;
    /* background: rgba(0, 0, 0, 0.05); */
}

.container{
    display: grid;
    grid-template-columns: 780px 1fr;
}

.app-demo-img{
    height: 600px;
    width: 780px;
    position: fixed;
}
