.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form-container{
    width: 400px;
}

.register-heading{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-heading .heading{
    font-size: 25px;
    font-weight: 600;
}

.register-heading .heading-message{
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

.register-form{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group{
    margin-bottom: 25px;
}

.form-group label{
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 15px;
}

.form-group input{
    padding: 10px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 5px;
}

.register-button{
    padding: 10px;
    background-color: rgb(83, 83, 221);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.register-button:hover{
    opacity: 0.9;
}

.login{
    margin-top: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.login-anchor{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(72, 72, 235);
    cursor: pointer;
    transition: text-decoration 0.15s;
}

.login-anchor:hover{
    text-decoration: underline;
}

.error-message{
    margin: 0;
    margin-top: 8px;
    color: red;
    font-size: 13px;
}

.error-message-pop{
    margin-top: 30px;
    background-color: rgb(255, 209, 209);
    padding: 15px;
    border-radius: 5px;
    color: rgb(208, 59, 59);
    font-size: 16px;
}

.logout-message{
    margin-top: 30px;
    background-color: rgb(209, 255, 234);
    padding: 15px;
    border-radius: 5px;
    color: rgb(41, 166, 93);
    font-size: 16px;
}