.current-page{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 50px;
}

.home-heading{
    font-size: 26px;
    margin: 0;
}

.current-page-text{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: gray;
}