.pagination{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.arrow{
    height: 14px;
    filter: invert(100%) sepia(0%) saturate(7433%) hue-rotate(46deg) brightness(117%) contrast(94%);
}

.nav-button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: #4053ce;
    padding: 9px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.nav-button:hover{
    opacity: 0.8;
}

.page-numbers-button{
    border-style: solid;
    border-width: 1px;
    border-color: #9c9c9c;
    border-radius: 8px;
    padding: 8px 14px;
    background: none;
    color: rgb(77, 77, 77);
    cursor: pointer;
    transition: color border-color 0.15s;
}

.page-numbers-button:hover{
    color: black;
    border-color: #4053ce;
}