.current-page{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 50px;
}

.current-page-heading{
    display: flex;
    align-items: center;
}

.task-text{
    font-size: 22px;
    font-weight: 600;
}

.current-page-text{
    margin-top: 6px;
    font-size: 14px;
    color: gray;
}