body{
    background-color: rgba(241, 241, 241, 0.511);
    font-family: Roboto, Arial;
    font-style: normal;
    padding-top: 35px;
    padding-left: 280px;
    padding-right: 30px;
    padding-bottom: 35px;
    margin: 0;
    background: rgba(0, 0, 0, 0.05);
}