.search-bar-container{
    position: relative;
}

.search-icon{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 16px;
    filter: invert(55%) sepia(1%) saturate(1922%) hue-rotate(338deg) brightness(86%) contrast(90%);
}

.search-bar{
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gainsboro;
    width: 800px;
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 14px;
    padding-left: 30px;
}
