.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 248px;
    background-color: gainsboro;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: gainsboro;
    z-index: 20;
}

.logo-section{
    display: flex;
    align-items: center;
    height: 70px;
}

.logo{
    height: 28px;
    width: 110px;
    margin-left: 20px;
}

.sidebar-navs{
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.sidebar-icons{
    height: 22px;
    margin-left: 22px;
    margin-right: 16px;
    filter: invert(0%) sepia(7%) saturate(29%) hue-rotate(335deg) brightness(93%) contrast(107%);
}

.notification-icon{
    height: 24px;
    margin-right: 14px;
}

.sidebar-options{
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.15s;
    text-decoration: none;
    color: black;
}

.sidebar-options:hover{
    color: rgb(77, 130, 223);
}

.mod-user-info{
    margin-bottom: 20px;
}

.profile-picture{
    height: 40px;
    width: 42px;
    margin-left: 10px;
    margin-right: 12px;
    border: none;
    border-radius: 25px;
}

.user-navs{
    display: flex;
    align-items: center;
}

.three-dots-icon{
    height: 20px;
    margin-left: 25px;
    margin-right: 10px;
}




