<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/sidebar.css">

        <link rel="stylesheet" href="/css/home-page/current-page-home.css">

        <link rel="stylesheet" href="/css/home-page/cards.css">

        <link rel="stylesheet" href="/css/home-page/stats-home-page.css">
        <link rel="stylesheet" href="/css/home-page/upcoming-tasks.css">
    </head>
    <body>
        <div class="sidebar"></div>

        <div class="current-page">
            <h1 class="home-heading">Welcome, Farhin</h1>
            <span class="current-page-text">Here's an overview of what’s going on in your workspace</span>
        </div>

        <div class="cards-container">
            <div class="stats-container">
                <div class="stats-card">
                    <div class="task-status">In Progress</div>
                    <img
                        class="dashboard-analytics"
                        src="/images/dashboard-analytics/doughnut-chart.svg">
                </div>

                <div class="stats-card">
                    <div class="task-status">Overdue</div>
                    <img 
                        class="dashboard-analytics" 
                        src="/images/dashboard-analytics/doughnut-chart.svg">
                </div>

                <div class="stats-card">
                    <div class="task-status">Completed</div>
                    <img 
                        class="dashboard-analytics" 
                        src="/images/dashboard-analytics/doughnut-chart.svg">
                </div>
            </div>

            <div class="upcoming-tasks-container">
                <div class="header">Upcoming Tasks</div>

                <div class="upcoming-tasks">
                    <div
                            th:each="task: ${upcomingTasks}"
                            class="upcoming-tasks-group"
                    >
                        <div class="task">
                            <img class="dashed-circle" src="/images/side-upcoming-tasks/circle-dashed.svg">
                            <div class="task-details">
                                <div class="task-title" th:text="${task.taskTitle}">
                                </div>
                                <div class="due-date" th:text="${task.deadline}">
                                </div>
                            </div>
                        </div>
                        <button class="detail-button" th:onclick="'location.href=\'/task-detail/' + ${task.id} + '\';'">
                            Detail
                        </button>
                    </div>
                </div>

                <a class="view-all-tasks" th:href="@{/upcoming-tasks}">
                    View All
                </a>
            </div>
        </div>

        <script src="/js/sidebar.js"></script>
        <script src="/js/sort-by-priority-btn.js"></script>
    </body>
</html>