<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Task Detail</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/sidebar.css">

        <link rel="stylesheet" href="/css/task-details-page/grid.css">
        <link rel="st">

        <link rel="stylesheet" href="/css/task-details-page/overview.css">
        <link rel="stylesheet" href="/css/task-details-page/subtask/subtask-card.css">
        <link rel="stylesheet" href="/css/task-details-page/subtask/pagination.css">
        <link rel="stylesheet" href="/css/task-details-page/history.css">
        <link rel="stylesheet" href="/css/form/subtask-form.css">
        <link rel="stylesheet" href="/css/form/backdrop.css">
        <link rel="stylesheet" href="/css/confirmation-modal/confirmation-modal.css">
    </head>
    <body>
        <div class="sidebar"></div>

        <div class="task-details">
            <div class="overview-subtasks">
                <div class="overview">
                    <div class="task-title-container">
                        <p class="task-title" th:text="${task.taskTitle}">
                        </p>
                    </div>
                    <div class="details-container">
                        <div class="details">
                            <img 
                                class="status-icon" 
                                src="/images/task-details/status.svg">
                            <div class="about-task">
                                Status
                            </div>
                            <div
                                 th:class="'task-status-'+${task.taskStatus}"
                                 th:text="${task.taskStatus}"
                            >
                            </div>
                        </div>

                        <div class="details">
                            <img 
                                class="deadline-icon" 
                                src="/images/task-details/deadline.svg">
                            <div class="about-task">Deadline</div>
                            <div class="deadline" th:text="${task.deadline}">
                            </div>
                        </div>

                        <div class="details">
                            <img 
                                class="updated-icon" 
                                src="/images/task-details/updated.svg">
                            <div class="about-task">Updated</div>
                            <div class="updated">
                                18.12.25
                            </div>
                        </div>

                        <div class="task-description">
                            <div class="description-icon-container">
                                <img 
                                class="description-icon" 
                                src="/images/task-details/description.svg">
                                <div class="about-task">Description</div>
                            </div>
                            <div class="description"
                                 th:text="${task.taskDescription}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subtasks-card">
                    <div class="subtask-mod">
                        <div class="header-section">
                            <div class="subtask-card-heading">
                                <div class="heading">
                                    <img class="subtasks-icon" src="/images/task-details/subttasks.svg">
                                    <div>Sub Tasks</div>
                                </div>
                                <button id="addSubTaskBtn" class="add-subtask-button">
                                    <img
                                         src="/images/tasks-table/plus-icon.svg"
                                         class="plus-icon"
                                    >
                                    <div class="button-text">Add Subtask</div>
                                </button>
                            </div>
                            <div class="progress">
                                <div class="completed-subtask-num">1/4</div>
                                <div class="progress-bar-container">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                        </div>

                        <div class="subtasks">
                            <div
                                class="subtasks-group"
                                th:each="subTask: ${subTaskPage.content}"
                            >
                                <div class="subtask-title-container">
                                    <input class="subtask-checkbox" type="checkbox" id="subtask-1">
                                    <div
                                       class="subtask-title"
                                       th:text="${subTask.subTaskTitle}"
                                    >
                                    </div>
                                </div>
                                <div class="actions">
                                    <a
                                        class="edit-button"
                                        th:data-id="${subTask.id}"
                                        th:data-title="${subTask.subTaskTitle}"
                                    >
                                        <img
                                                class="edit-icon"
                                                src="/images/tasks-table/edit.svg"
                                        >
                                    </a>
                                    <a
                                        class="delete-button"
                                        th:data-id="${subTask.id}"
                                    >
                                        <img
                                                class="trash-icon"
                                                src="/images/tasks-table/trash.svg"
                                        >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination">

                        <button
                                class="nav-button"
                                th:if="${subTaskPage.hasPrevious()}"
                                th:onclick="'window.location.href=\'/task-detail/'+${taskId}+'?page=' + (${currentPage} - 1) + '&size=' + ${subTaskPage.size} + '\';'"
                        >
                            <img class="arrow" src="/images/tasks-table/left-arrow.svg">
                        </button>

                        <button
                                class="page-numbers-button"
                                th:each="i : ${#numbers.sequence(0, subTaskPage.totalPages - 1)}"
                                th:disabled="${i == currentPage}"
                                th:text="${i + 1}"
                                th:if="${i >= 0}" th:onclick="'window.location.href=\'/task-detail/'+${taskId}+'?page=' + ${i} + '&size=' + ${subTaskPage.size} + '\';'"
                        >
                        </button>

                        <button
                                class="nav-button"
                                th:if="${subTaskPage.hasNext()}"
                                th:onclick="'window.location.href=\'/task-detail/'+${taskId}+'?page=' + (${currentPage} + 1) + '&size=' + ${subTaskPage.size} + '\';'"
                        >
                            <img class="arrow" src="/images/tasks-table/right-arrow.svg">
                        </button>

                    </div>
                </div>
            </div>

            <div class="history-card">
                <div class="blue-line"></div>

                <div class="history-card-heading">
                    History
                </div>

                <div class="all-history-container">
                    <div class="all-history">
                        <div
                            class="history-group"
                            th:each="history, stat: ${latestHistories}"
                        >
                            <div class="circle-line">
                                <div class="circle"></div>
                                <div class="line" th:if="${stat.last == false}"></div>
                            </div>
                            <div
                               class="history-title"
                               th:text="|${history.eventType} ${history.createdOn}|"
                            >
                            </div>
                        </div>
                    </div>

                    <a
                        class="view-all-history"
                        th:href="@{/history/{taskId}(taskId=${taskId})}"
                    >
                        View All
                    </a>
                </div>
            </div>
        </div>

        <div id="backdrop"></div>

        <div id="openForm" class="form-container">
            <div class="form-first-section">
                <div class="form-heading-container">
                    <img class="add-task-icon" src="/images/form/add-task.svg">
                    <p class="form-heading">Add Sub Task</p>
                </div>
                <img class="cross-icon closeForm" src="/images/form/cross.svg">
            </div>
            <form
               id="createSubTask"
               class="form"
               role="form"
               method="post"
               th:object="${subTask}"
               th:action="@{/sub-task/{taskId}(taskId=${taskId})}"
            >
                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <div class="form-subgroup task-title">
                        <label for="title">
                            Title<span class="star">*</span>
                        </label>
                        <input
                                type="text"
                                id="title"
                                th:field="*{subTaskTitle}"
                        >
                    </div>
                </div>
            </form>
            
            <div class="button-container">
                <button
                    form="createSubTask"
                    id="createButton"
                    class="submit-button"
                >
                    Save
                </button>
            </div>
        </div>

        <div id="confirmationModel" class="confirmation-modal">
            <div class="modal-heading">
                <div class="delete-icon-container">
                    <img
                            class="delete-icon"
                            src="/images/confirmation-modal/delete.svg">
                </div>
                <div class="delete-text">
                    Delete
                </div>
                <div class="confirmation-text">
                    Are you sure you want to delete this sub task?
                </div>
            </div>
            <div class="buttons">
                <button class="cancle-button">
                    Cancle
                </button>
                <button id="confirmDeleteBtn" class="confirm-button">
                    Confirm
                </button>
            </div>
        </div>

        <script src="/js/sidebar.js"></script>
        <script src="/js/subtask-modal-form.js"></script>
        <script src="/js/confirm-delete-subtask-modal.js"></script>
    </body>
</html>