.task-nav-bar{
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gainsboro;
}

.tasks-table-heading{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.task-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.sort-by{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gainsboro;
    width: 200px;
    margin-left: 15px;
}

.filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gainsboro;
    width: 80px;
    background-color: transparent;
}

.filter-icon{
    height: 15px;
    margin-right: 8px;
}

.filter-button span{
    font-size: 14px;
    color: rgb(74, 74, 74);
}

.add-task-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4053ce;
    padding: 11px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
}

.add-task-button:hover{
    opacity: 0.9;
}

.plus-icon{
    height: 15px;
    margin-right: 10px;
}

