.tasks-table-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 20px;
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); */
}