.task-details{
    display: grid;
    grid-template-columns: 600px 1fr;
    column-gap: 10px;
}

.overview-subtasks{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 350px;
    row-gap: 10px;
}